

.form{
    background-color: transparent;
    border-radius: 5px;
    width: 650px;
    margin: 20px auto;
    padding: 20px;
    height: 520px;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}
.img{
    /* background-image: url("../background.jpg"); */
    background-size: 1900px;
}